body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    padding: 50px;
}

button {
    border: none;
    padding: 12px;
    color: white;
    background-color: #000000;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #6cc66e;
}

